<div class="title-bar">
  <a href="#menu" class="menu-trigger"><%= icon "menu" %></a>
  <%= link_to decidim.root_path, class: "logo", target: "_blank" do %>
    <% if current_organization.logo.present? %>
      <%= image_tag current_organization.logo.url, alt: title %>
    <% else %>
      <%= title %>
    <% end %>
  <% end %>
  <div class='tool-bar'>
    <div class="topbar__dropmenu language-choose">
      <div id="google_translate_element"></div>
    </div>

    <div class="user-login">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="is-dropdown-submenu-parent">
          <a href="#"><%= current_user.email %></a>
          <ul class="menu is-dropdown-submenu">
            <li><%= link_to(t("layouts.decidim.user_menu.sign_out"), decidim.destroy_user_session_path, method: :delete) %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
