<div class="row small-up-1 medium-up-2 card-grid">
  <%= render paginated_debates %>
</div>
<%= decidim_paginate paginated_debates %>

<script>
  var target_lang = "<%= I18n.locale.upcase %>";
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }
  function trad_card(param) {
      param = param.parent().parent();
      title = param.find(".card__title");
      body = param.find("p").eq(1);
      trad_btn = param.find("#see-trad");
      hidden_title = param.find(".hidden_title");
      hidden_body = param.find(".hidden_body");
      if (hidden_title.text() !== "") {
        title.text(hidden_title.text());
        body.text(hidden_body.text());
        trad_btn.text("<%= I18n.t("show_traduction", scope: "trads") %>");
        hidden_title.text("");
      } else {
        get_traduction(title.text(), target_lang, function(converted_title) {
          get_traduction(body.text(), target_lang, function(converted_body) {
            if (target_lang !== converted_body[0]) {
              trad_btn.text(decodeHtml("<%= I18n.t("show_the_original", scope: "trads") %>" + " (" + converted_body[0] + ")"));
              hidden_title.text(title.text());
              hidden_body.text(body.text());
              title.text($(converted_title[1]).text());
              body.text($(converted_body[1]).text());
            }
          });
        });
      }
  }
  function get_traduction(original_text, target_lang, callback) {
    $.ajax({
      url : "/api/traduction",
      type : 'GET',
      data : "target=" + target_lang + "&original=" + original_text,
      dataType : 'json',
      success : function(body, status) {
        callback([body["translations"][0]["detected_source_language"], body["translations"][0]["text"]]);
      },
      error : function(body, status, error) {
        console.log(status + error);
      }
    });
  }
</script>