<% if Devise.mappings[:user].omniauthable? && any_social_provider_enabled? && !request.env['PATH_INFO'].include?("/admin_sign_in") %>
  <div class="row">
    <div class="<%= column_classes %>">
      <%- Decidim::User.omniauth_providers.each do |provider| %>
        <% if social_provider_enabled? provider %>
          <div class="social-register">
            <%= link_to decidim.send("user_#{provider}_omniauth_authorize_path"), class: "button button--social button--#{provider.to_s.parameterize}", method: :post do %>
              <span class="button--social__icon">
                <%= oauth_icon provider %>
              </span>
              <span class="button--label">
                <% if Rails.application.secrets.dig(:omniauth, provider.to_sym, :provider_name).present? %>
                  <%= t("devise.shared.links.sign_in_with_provider", provider: "") %>
                  <b><%= Rails.application.secrets.dig(:omniauth, provider.to_sym, :provider_name) %></b>
                <% else %>
                  <%= t("devise.shared.links.sign_in_with_provider", provider: normalize_provider_name(provider).titleize) %>
                <% end %>
              </span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
