<%= hidden_field :authorization_handler, :handler_name, value: "socio_demographic_authorization_handler" %>
<div class="card-section">
  <div class="field">
    <label for="authorization_handler_scope_id">
      <%= t("scope_id", scope: "decidim.authorization_handlers.socio_demographic_authorization_handler.fields") %>
    </label>
    <%= scopes_picker_field form, :scope_id, root: nil, options: { label: false } %>
  </div>
  <div class="field">
    <label for="authorization_handler_gender">
      <%= t("gender", scope: "decidim.authorization_handlers.socio_demographic_authorization_handler.fields") %>
    </label>
    <%= form.select :gender, %w(Man Woman Undefined).map { |gender| [I18n.t(gender.downcase, scope: "decidim.verifications.genders"), gender.downcase] }, { include_blank: t('decidim.verifications.genders.blank_option'), label: false} %>
  </div>

  <div class="field">
    <label for="authorization_handler_age">
      <%= t("age", scope: "decidim.authorization_handlers.socio_demographic_authorization_handler.fields") %>
    </label>
    <%= form.select :age, %w(16-25 26-45 46-65 65+).map { |slice| [slice, slice] }, { include_blank: t('decidim.verifications.age_slice.blank_option'), label: false} %>
  </div>
</div>
