<p>
  <%= t("devise.mailer.confirmation_instructions.greeting", recipient: @initiative.author.name) %>
</p>
<br/>

<p>
  <%== t "decidim.initiatives.initiatives_mailer.creation_subject", title: translated_attribute(@initiative.title) %>.
</p>
<br/>

<p>
  <%== t("decidim.initiatives.initiatives_mailer.more_information") %>
</p>
<br/>

<p>
  <%= t("check_initiative_details", scope: "decidim.initiatives.initiatives_mailer.initiative_link") %>
  <%= link_to t("here",  scope: "decidim.initiatives.initiatives_mailer.initiative_link"),
              decidim_admin_initiatives.edit_initiative_url(@initiative, host: @organization.host) %>
</p>

<br/>

<p>
  <%== t("decidim.initiatives.initiatives_mailer.footer") %>
</p>
