<div class="row">
  <%= decidim_form_for(@account, url: account_path, method: :put, html: { autocomplete: "nope" }) do |f| %>
    <%= f.hidden_field :id %>
    <div class="columns large-8 large-offset-2 end">
      <%= f.text_field :name, disabled: true %>
      <%= f.hidden_field :name %>

      <%= f.text_field :nickname, disabled: true %>
      <%= f.hidden_field :nickname %>

      <% if @account.email.present? %>
        <%= f.email_field :email %>

        <div class="actions">
          <%= f.submit t(".update_account"), disable_with: true %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
