<script>
  var is_trad = false;
  var original_title = $("#proposal-title").text();
  var original_body = $("#proposal-body").html();
  var target_lang = "<%= I18n.locale.upcase %>";
  function get_traduction(original_text, target_lang, callback) {
    $.ajax({
      url : "/api/traduction",
      type : 'GET',
      data : "target=" + target_lang + "&original=" + encodeURI(original_text).trim(),
      dataType : 'json',
      contentType: "application/json",
      success : function(body, status) {
        callback([body["translations"][0]["detected_source_language"], body["translations"][0]["text"]]);
      },
      error : function(body, status, error) {
        console.log(status + error);
      }
    });
  }
  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  }
  function traduct_action() {
    if (is_trad == true) {
      $("#proposal-title").html(original_title);
      $("#proposal-body").html(original_body);
      $("#see-trad").text("<%= I18n.t("show_traduction", scope: "trads") %>");
      is_trad = !is_trad;
    } else {
      get_traduction(original_title, target_lang, function(converted_title) {
        get_traduction(original_body, target_lang, function(converted_body) {
          if (target_lang !== converted_body[0]) {
            $("#proposal-title").html($(converted_title[1]).text());
            $("#proposal-body").html(converted_body[1]);
            $("#see-trad").text(decodeHtml("<%= I18n.t("show_the_original", scope: "trads") %>" + " (" + converted_body[0] + ")")); // because of the -> '
          }
       });
      });
      is_trad = !is_trad;
    }
  }
  function handleSeeTraductionClick(argument) {
    $(document).on("click", ".comment__votes > .see_trad_comment_button", function (ev) {
      var $btnClicked = $(this);
      var $textToTranslateContainer = $btnClicked.closest(".comment").find(".comment__content p").first();
      var $hiddenTranslatedTextContainer = $btnClicked.closest(".comment").find(".hidden_trad_comment").first();
      if ($hiddenTranslatedTextContainer.text() !== "") {
        $textToTranslateContainer.text($hiddenTranslatedTextContainer.text());
        $btnClicked.text(decodeHtml("<%= I18n.t("show_traduction", scope: "trads") %>"));
        $hiddenTranslatedTextContainer.text("");
      } else {
        get_traduction($textToTranslateContainer.text(), target_lang, function (converted_comment) {
          if (target_lang !== converted_comment[0]) {
            $hiddenTranslatedTextContainer.text($textToTranslateContainer.text());
            $textToTranslateContainer.text($(converted_comment[1]).text());
            $textToTranslateContainer.append("<p id=trad-info style='font: small-caption;font-style: italic;color: grey;'><%= I18n.t("automatic_translation", trad_service: "Deepl", scope: "trads") %></p>");
            $btnClicked.text(decodeHtml("<%= I18n.t("show_the_original", scope: "trads") %>" + " (" + converted_comment[0] + ")"));
          }
        });
      }
    });
  }
  $(function () {
    handleSeeTraductionClick();
  });
</script>